<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gudi.comMail.dao.ComMailDAO">

	<select id="getReTotalMail" resultType="int" parameterType="int">
		SELECT COUNT(*) AS totalMailCounts
		FROM note n
		LEFT OUTER JOIN member m ON m.member_no = n.receiver_no
		WHERE n.receiver_no = #{param1}
	</select>
	
	<select id="getReUnreadMail" resultType="int" parameterType="int">
		SELECT COUNT(*) AS UnreadReMailCounts
        FROM note
        WHERE receiver_no = (SELECT member_no
                                                    FROM member
                                                    WHERE member_no = #{param1} AND CAST(receive_state AS UNSIGNED) = "0")
	</select>
	
	<select id="receiveList" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
	    FROM note n
	    LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
	    LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
	    LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
	    WHERE n.receiver_no = #{param2} AND n.receive_state IN ("0", "1")
	    GROUP BY n.note_no
	    ORDER BY n.note_date DESC LIMIT 10 OFFSET #{param1}
	</select>
	
	<select id="receiveListSearch" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
	    FROM note n
	    LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
	    LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
	    LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
	    WHERE n.receiver_no = #{loginNo} AND n.receive_state IN ("0", "1")
	        AND (#{search_info} = ''
	        OR LENGTH(#{search_info}) = 1
	        OR n.sender_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{search_info}, '%'))
	        OR n.note_subject LIKE CONCAT('%', #{search_info}, '%'))
	    GROUP BY n.note_no
	    ORDER BY n.note_date DESC LIMIT 10 OFFSET #{offset}
	</select>
	
	<select id="receiveListRead" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
		LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
		WHERE n.receiver_no = #{param3} AND n.receive_state="1" 
  			AND (#{param1} = '' 
  			OR n.sender_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{param1}, '%')) OR n.note_subject LIKE CONCAT('%', #{param1}, '%'))
		GROUP BY n.note_no
		ORDER BY n.note_no DESC LIMIT 10 OFFSET #{param2}
	</select>
	
	<select id="receiveListUnread" resultType="mail"> 
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
		LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
		WHERE n.receiver_no = #{param3} AND n.receive_state="0" 
  			AND (#{param1} = '' 
  			OR n.sender_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{param1}, '%')) OR n.note_subject LIKE CONCAT('%', #{param1}, '%'))
		GROUP BY n.note_no
		ORDER BY n.note_no DESC LIMIT 10 OFFSET #{param2}
	</select>
	
	<update id="delReceive">
		UPDATE note SET receive_state = 2 WHERE note_no = #{param1}
	</update>
	
	<select id="reTotalCnt" resultType="int">
		SELECT COUNT(note_no) AS reTotalCnt
	    FROM note n
	    WHERE n.receiver_no = #{loginNo}
	    AND (
	        (#{search_info} = '' 
	        OR n.sender_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{search_info}, '%')) 
	        OR n.note_subject LIKE CONCAT('%', #{search_info}, '%'))
	    )
	    <if test="readOption != null and readOption.equals('read')">
	        AND n.receive_state = '1'
	    </if>
	    <if test="readOption != null and readOption.equals('unread')">
	        AND n.receive_state = '0'
	    </if>
	</select>
	
	<select id="seTotalCnt" resultType="int">
		SELECT COUNT(note_no) AS seTotalCnt
	    FROM note n
	    WHERE n.sender_no = #{loginNo}
	    AND (
	        (#{search_info} = '' 
	        OR n.receiver_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{search_info}, '%')) 
	        OR n.note_subject LIKE CONCAT('%', #{search_info}, '%'))
	    )
	    <if test="readOption != null and readOption.equals('read')">
	        AND n.send_state = '1'
	    </if>
	    <if test="readOption != null and readOption.equals('unread')">
	        AND n.send_state = '0'
	    </if>
	</select>
	
	<select id="receiveMailDetail" resultType="mail">
		SELECT n.note_no, n.note_subject, n.note_content, n.note_date, n.note_no, sender.name AS sender_name, receiver.name AS receiver_name, f.file_newname
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no		
		LEFT OUTER JOIN file f ON f.file_unique_no = n.note_no AND f.file_location = "n"
		WHERE n.note_no = #{param1} 
		GROUP BY n.note_no
	</select>
	
	<select id="getFile" resultType="mail">
		SELECT file_oriname, file_newname
		FROM file
		WHERE file_unique_no = #{param1} and file_location = "n"
	</select>
	
	<select id="getSeTotalMail" resultType="int" parameterType="int">
		SELECT COUNT(*) AS totalMailCounts
		FROM note n
		LEFT OUTER JOIN member m ON m.member_no = n.sender_no
		WHERE n.sender_no = #{param1}
	</select>
	
	<select id="getSeUnreadMail" resultType="int" parameterType="int">
		SELECT COUNT(*) AS UnreadSeMailCounts
        FROM note
        WHERE sender_no = (SELECT member_no
                                                    FROM member
                                                    WHERE member_no = #{param1} AND CAST(send_state AS UNSIGNED) = "0")
	</select>
	
	<select id="sendList" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
	    FROM note n
	    LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
	    LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
	    LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
	    WHERE n.sender_no = #{param2} AND n.send_state IN ("0", "1")
	    GROUP BY n.note_no
	    ORDER BY n.note_date DESC LIMIT 10 OFFSET #{param1}
	</select>
	
	<select id="sendListRead" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
		LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
		WHERE n.sender_no = #{param3} AND n.send_state="1"
  			AND (#{param1} = '' 
  			OR n.receiver_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{param1}, '%')) OR n.note_subject LIKE CONCAT('%', #{param1}, '%'))
		GROUP BY n.note_no
		ORDER BY n.note_no DESC LIMIT 10 OFFSET #{param2}
	</select>
	
	<select id="sendListUnread" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
		LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
		WHERE n.sender_no = #{param3} AND n.send_state="0"
  			AND (#{param1} = '' 
  			OR n.receiver_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{param1}, '%')) OR n.note_subject LIKE CONCAT('%', #{param1}, '%'))
		GROUP BY n.note_no
		ORDER BY n.note_no DESC LIMIT 10 OFFSET #{param2}
	</select>
	
	<select id="sendListSearch" resultType="mail">
		SELECT n.*, sender.name AS sender_name, receiver.name AS receiver_name, f.file_size
	    FROM note n
	    LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
	    LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no
	    LEFT OUTER JOIN file f ON file_location = "n" AND f.file_unique_no = n.note_no
	    WHERE n.sender_no = #{loginNo} AND n.send_state IN ("0", "1")
	        AND (#{search_info} = ''
	        OR LENGTH(#{search_info}) = 1
	        OR n.receiver_no IN (SELECT member_no FROM member WHERE name LIKE CONCAT('%', #{search_info}, '%'))
	        OR n.note_subject LIKE CONCAT('%', #{search_info}, '%'))
	    GROUP BY n.note_no
	    ORDER BY n.note_date DESC LIMIT 10 OFFSET #{offset}	
	</select>
	
	<update id="delSend">
		UPDATE note SET send_state = 2 WHERE note_no = #{param1}
	</update>
	
	<select id="sendMailDetail" resultType="mail">
		SELECT n.note_no, n.note_subject, n.note_content, n.note_date, sender.name AS sender_name, receiver.name AS receiver_name, f.file_newname
		FROM note n
		LEFT OUTER JOIN member receiver ON receiver.member_no = n.receiver_no
		LEFT OUTER JOIN member sender ON sender.member_no = n.sender_no		
		LEFT OUTER JOIN file f ON f.file_unique_no = n.note_no AND f.file_location = "n"
		WHERE n.note_no = #{param1} 
		GROUP BY n.note_no
	</select>
	
	<insert id="write" parameterType="map">
		INSERT INTO note(sender_no, receiver_no, note_subject, note_content)
		VALUES (#{sender_no}, #{receiver_no}, #{note_subject}, #{note_content})
	</insert>
	
	<select id="getSender" resultType="String">
		SELECT name FROM member WHERE member_no = (SELECT sender_no FROM note WHERE note_no=#{param1})
	</select>
	
	<select id="getReceiverNo" resultType="int">
		SELECT member_no
		FROM member
		WHERE name = #{param1}
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="note_no"
		keyProperty="note_no"
		id="upload">
		INSERT INTO note (sender_no, receiver_no, note_subject, note_content)
			VALUES (#{sender_no}, #{receiver_no}, #{note_subject}, #{note_content})
	</insert>
	
	<update id="updateSeState">
		UPDATE note SET send_state = "1" WHERE note_no = #{param1}
	</update>
	
	<update id="updateReState">
		UPDATE note SET receive_state = "1" WHERE note_no = #{param1}
	</update>
	
	<insert id="mailFileUpload">
		INSERT INTO file(file_location, file_unique_no, file_oriname, file_newname, file_size, file_state) 
			VALUES("n", #{param3}, #{param1},#{param2},#{param4},"0")
	</insert>
</mapper>